.leftbar{
  margin:0;
}

.product-in-order{

  .title-table{

    th{
      text-align: center;
      font-size: 120%;
    }
  }
  .small-img{
    height: 100px;
    width: 100px;
  }
  .info
  {
    width: 40%;
  }
  .name{
    text-transform: uppercase;
    font-size: 150%;
  }
  .price{
    font-weight: bold;
    font-size: 150%;
    text-align: right;
    vertical-align: middle;
  }
  .quantity{
    width: 15%;
    vertical-align: middle;
    text-align: center;
    font-size: 120%;
  }
}
