<a [routerLink]="['/cart']" class="cart-icon">
  cart
  <span class="cart_no">{{amountProducts}}</span>
</a>


<!-- <ul class="option-cart-item">
  <li>
    <div class="cart-item">
      <div class="image"><img src="../../../../assets/images/products/thum/products-01.png" alt=""></div>
      <div class="item-description">
        <p class="name">Lincoln chair</p>
        <p>Size: <span class="light-red">One size</span><br>Quantity: <span class="light-red">01</span></p>
      </div>
      <div class="right">
        <p class="price">$30.00</p>
        <a href="#" class="remove"><img src="../../../../assets/images/remove.png" alt="remove"></a>
      </div>
    </div>
  </li>

  <li><span class="total">Total <strong>$60.00</strong></span><button class="checkout" onClick="location.href='checkout.html'">CheckOut</button></li>
</ul> -->