<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <div class="logo"><a href="index.html"><img src="../assets/images/logo.png" alt="FlatShop"></a></div>
      </div>
      <div class="col-md-10 col-sm-10">
        <div class="header_top">
          <div class="row">
            <div class="col-md-3">
              <ul class="option_nav">
                <li class="dorpdown">
                  <a href="#">Eng</a>
                  <ul class="subnav">
                    <li><a href="#">Eng</a></li>
                    <li><a href="#">Vns</a></li>
                    <li><a href="#">Fer</a></li>
                    <li><a href="#">Gem</a></li>
                  </ul>
                </li>
                <li class="dorpdown">
                  <a href="#">USD</a>
                  <ul class="subnav">
                    <li><a href="#">USD</a></li>
                    <li><a href="#">UKD</a></li>
                    <li><a href="#">FER</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="topmenu">
                <li><a href="#">About Us</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Recruiment</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Support</a></li>
              </ul>
            </div>
            <div class="col-md-3" *ngIf="!auth_token">
              <ul class="usermenu">
                <li><a href="" [routerLink]="['login']" class="log">Login</a></li>
                <li><a href="" [routerLink]="['register']" class="reg">Register</a></li>
              </ul>
            </div>
            <div class="col-md-3" *ngIf="auth_token">
              <ul class="usermenu">
                <li><a href="" [routerLink]="['profile']" class="log">Profile</a></li>
                <li><a href="" (click)="logout()" class="reg">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="header_bottom">
          <ul class="option">
            <li id="search" class="search">
              <layout-search></layout-search>
            </li>
            <li class="option-cart">
              <layout-cart></layout-cart>
            </li>
          </ul>
          <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown" *ngFor=" let i of [ 0, 1, 2]">
                <a [routerLink]="['category', categories[i].slug]" class="dropdown-toggle" data-toggle="dropdown">{{categories[i].name}}</a>
                <div class="dropdown-menu">
                  <ul class="mega-menu-links" style="width: 200px;">
                  <li *ngFor=" let child of categories[i].children">
                     <a [routerLink]="['category', child.slug]">{{child.name}}</a>
                   </li>
                 </ul>
               </div>
             </li>
           </ul>
         </div>
<!--           <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
             <li class="dropdown" *ngFor=" let category of categories">
              <a  class="parent-category dropdown-toggle" data-toggle="dropdown">{{category.name}}</a>
              <div class="dropdown-menu" *ngIf="category.children.size != 0">
                <ul class="mega-menu-links" *ngFor=" let child of category.children">
                  <li class="dropdown dropdown-hover">
                    <a class="dropdown-toggle" data-toggle="dropdown" [routerLink]="['category', child.slug]" >{{child.name}}</a>
                  </li>
                </ul>
              </div>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>